@font-face {
    font-family: 'red_deliciousregular';
    src: url('../fonts/reddelicious-webfont.woff2') format('woff2'),
         url('../fonts/reddelicious-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	/*background-color: black;*/
	color: #FAA61A;
	font-family: 'Muli', sans-serif;
}

html {
	scroll-behavior: smooth;
}

a {
	color: #FAA61A;
}

/***********/
/*UTILITIES*/
/***********/

.btn-shop {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn-now {
	display: flex;
	align-items: center;
}


.section-container {
	padding: 20px;
}
	
.about-title {
	text-align: center;
	margin-top: 20px;
}

.btn-view {
	padding: 2px 15px;
	background: #FAA61A;
	color: black;
	border: none;
}

.btn-view:hover {
	background: black;
	color: #FAA61A;
}

.title-light {
	text-align: center;
	color: black;
	font-family: 'red_deliciousregular';
	font-size: 2.5em;
}

.title-dark {
	text-align: center;
	color: #FAA61A;
	font-family: 'red_deliciousregular';
	font-size: 2.5em;
}

.button-default {
  color: white;
  background-color: #FAA61A;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px 1px;
  margin: 10px;
}

.button-default-dark {
  color: white;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px 1px;
  margin: 10px;

}

.button-slanted {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.button-slanted-content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);  
  display: inline-block;
}


/********/
/*NAVBAR*/
/********/
.header-section > a {
	color: #FAA61A;
}

.header-section > a:hover {
	color: black;
	background-color: #FAA61A;
}

.insane-nav {
	background-color: black;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	padding: .5rem 2rem;
}

.nav-bg {
	background-color: black;
}

.nav-items {
	float: right;
	font-family: 'Notable', sans-serif;

}

.nav-item > a:hover {
	-ms-transform: skewX(-20deg);
  	-webkit-transform: skewX(-20deg);
  	transform: skewX(-20deg);
  	color: black;
  	background: #FAA61A;
  	font-weight: bold;
}


.insane-logo {
	width: 55px;
	height: 50px;
}

span.nav-btn {
	color: #FAA61A;
}

.navbar-toggler {
	border: 1px solid #FAA61A;
}


/**********************/
/*PRODUCT VIEW SECTION*/
/**********************/
.product-view-section {
	/*height: 100vh;*/
	background: white;
	padding: 100px 50px 20px 60px;
}

.product-content {
	/*background: url(../assets/images/android2.jpg);*/
	text-align: center;
	border: 1px solid black;
}

.product-details {
	text-align: center;
	color: black;
	padding-top: 3%;
}

.product-details p, h1 {
	font-weight: bold;
}

.product-details p {
	margin-top: 20px;
}

.product-content > img {
	width: 70%;
	overflow: hidden;
}

.quantity {
	margin-top: 15px;
}

.add-cart {
	margin-top: 15px;
}

/****************/
/*FOOTER SECTION*/
/****************/
.footer-section {
  	bottom: 0;
  	width: 100%;
  	background-color: black;
  	color: #FAA61A;
  	text-align: center;
  	vertical-align: center;
  	overflow: hidden;
}

.footer-details {
	margin-top: 12px;
}  

/***************/
/*Media Queries*/
/***************/
@media screen and (min-width: 1024px) {
    .product-view-section {
    	height: 100vh;
    }

    .footer-section {
    	position: fixed;
    }
}

@media screen and (min-width: 992px) {
    .product-view-section {
    	height: 100vh;
    }

    .footer-section {
    	position: fixed;
    }
}

@media screen and (max-width: 360px) {
   .footer-section {
   		font-size: 12px;
   }
}
