
/**********/
/*WHITE-BG*/
/**********/
@font-face {
    font-family: 'red_deliciousregular';
    src: url('../fonts/reddelicious-webfont.woff2') format('woff2'),
         url('../fonts/reddelicious-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	/*background-color: black;*/
	color: #FAA61A;
	font-family: 'Muli', sans-serif;
}

html {
	scroll-behavior: smooth;
}

a {
	color: #FAA61A;
}

/***********/
/*UTILITIES*/
/***********/

.btn-shop {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn-now {
	display: flex;
	align-items: center;
}


.section-container {
	padding: 20px;
}
	
.about-title {
	text-align: center;
	margin-top: 20px;
}

.btn-view {
	padding: 2px 15px;
	background: #FAA61A;
	color: black;
	border: none;
}

.btn-view:hover {
	background: black;
	color: #FAA61A;
}

.title-light {
	text-align: center;
	color: black;
	font-family: 'red_deliciousregular';
	font-size: 2.5em;
}

.title-dark {
	text-align: center;
	color: #FAA61A;
	font-family: 'red_deliciousregular';
	font-size: 2.5em;
}


/*.button-slanted:hover {
	background: black;
	color: #FAA61A;
}*/

.button-default {
  color: white;
  background-color: #FAA61A;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px 1px;
  margin: 10px;
}

.button-default-dark {
  color: white;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px 1px;
  margin: 10px;

}

.button-slanted {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.button-slanted-content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);  
  display: inline-block;
}


/********/
/*NAVBAR*/
/********/
.header-section > a {
	color: #FAA61A;
}

.header-section > a:hover {
	color: black;
	background-color: #FAA61A;
}

.insane-nav {
	background-color: black;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	padding: .5rem 2rem;
}

.nav-bg {
	background-color: black;
}

.nav-items {
	float: right;
	font-family: 'Notable', sans-serif;

}

.nav-item > a:hover {
	-ms-transform: skewX(-20deg);
  	-webkit-transform: skewX(-20deg);
  	transform: skewX(-20deg);
  	color: black;
  	background: #FAA61A;
  	font-weight: bold;
}


.insane-logo {
	width: 55px;
	height: 50px;
}

span.nav-btn {
	color: #FAA61A;
}

.navbar-toggler {
	border: 1px solid #FAA61A;
}



/*****************/
/*HOME SECTION*/
/*****************/
.home-section {
	height: 120vh;
	width: auto;
	background: url(../images/SINNER.jpg);
	background-size: cover;
	background-position: center;
}

/**************/
/*SHOP SECTION*/
/**************/
.shop-section {
	padding: 60px 50px 60px;
}

.shop-content {
	text-align: center;
}

.shop-title {
	text-align: center;
	color: black;
	font-family: 'Notable', sans-serif;
}

.shop-item {
	text-align: center;
	padding-top: 30px;
}

.shop-item > p {
	color: black;
	font-weight: bold;
	font-size: 20px;
}

.shop-item > img {
	width: 80%;
	/*height: 100px;*/
}

.shop-item > p {
	margin-bottom: 0;
}

/***************/
/*ABOUT SECTION*/
/***************/
.about-section {
	background-color: black;
	padding: 60px 50px 60px;

}

.about-content {
	text-align: center;
}

.about-title {
	text-align: center;
	color: black;
	font-family: 'Notable', sans-serif;
}

.about-details, strong {
	text-align: justify;
	padding: 20px 0;
	font-size: 20px;
}

.about-img {
	width: 100%;
	padding: 20px 0 #FAA61A;
}

.dim {
	width: 100%;
	margin-top: 25px;
	padding-right: 5px;
	border: 1px solid #FAA61A;
}

/*****************/
/*CONTACT SECTION*/
/*****************/
.contact-section {
	padding: 60px 50px 60px;
}

.contact-submit {
	font-size: 1.5em;
	padding: 0 10px;
}

.form-contact > input {
	width: 100%;
	padding: 10px 10px 10px 10px;
	border: 2px solid #FAA61A;
	margin-bottom: 20px;
	color: black;
}

.form-contact > textarea {
	width: 100%;
  	height: 150px;
  	padding: 12px 10px;
  	box-sizing: border-box;
  	border: 2px solid #FAA61A;
  	border-radius: 4px;
  	resize: none;
  	color: black;
}

.insane-map {
	margin-bottom: 30px;
}

/*.insane-contact {
	background: black;
}*/

.insane-add {
	margin-top: 30px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    padding-left: 10%;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.social-media {
	font-size: 40px;
}

.social-media > a > i:hover {
	color: black;
}

/****************/
/*FOOTER SECTION*/
/****************/
.footer-section {
  	bottom: 0;
  	width: 100%;
  	background-color: black;
  	color: #FAA61A;
  	text-align: center;
  	vertical-align: center;
  	overflow: hidden;
}

.footer-details {
	margin-top: 12px;
}

/***************/
/*Media Queries*/
/***************/
@media screen and (max-width: 991px) {
    .home-section {
		background: url(../images/logo-orange.png);
		background-size: 40%;
		background-position: center;
		background-repeat: no-repeat;
		background-color: black;
	}
	.about-details {
		text-align: justify;
		padding: 20px 0;
		font-size: 15px;
	}

	.navbar-nav .nav-link {
		text-align: center;
	}
}

@media screen and (max-width: 360px) {
   .about-details {
   		font-size: 12px;
   }

   .contact-submit {
   		font-size: 1em;
   }

   .footer-section {
   		font-size: 12px;
   }

   .insane-add  h3 {
   		font-size: 20px;
   		font-weight: bold;
   }

   .insane-add p, span{
   		font-size: 12px;
   }

   .insane-add strong {
   		font-size: 15px;
   }

   .social-media {
		font-size: 30px;
	}
}
